<h1>Solicitação</h1>

<form [formGroup]="formularioSolicitacao">
  <div>
    <mat-form-field>
      <mat-label>Professor</mat-label>
      <mat-select formControlName="professor_id">
        <mat-option
          *ngFor="let Professor of listaProfessores"
          [value]="Professor.id">

          {{Professor.nome }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <br />

  <mat-form-field>
    <mat-label>Objeto</mat-label>
    <mat-select formControlName="objeto_id">
      <mat-option *ngFor="let Objeto of listaObjeto" [value]="Objeto.id">
        {{ Objeto.nome }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br />

  <mat-select #fontSize value="16px" (selectionChange)="triggerResize()">
  </mat-select>

  <mat-form-field [style.fontSize]="fontSize.value">
    <mat-label>Descricao</mat-label>
    <textarea
      matInput
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="1"
      cdkAutosizeMaxRows="5"
    ></textarea>
  </mat-form-field>
</form>

<span>Data-hora_entrada</span>
<br />
<input type="datetime-local" name="datetime-local" />
<br />
<br />
<span>Data-hora_saida</span>
<br />
<input type="datetime-local" name="datetime-local" />
<br />
<br />
<!-- <button mat-raised-button color="primary" (click)="salvar()" [disabled]="!formularioSolicitacao.valid">
  Salvar
</button> -->
